@import "tailwindcss";


@theme {

  --color-blue-energy: rgb(60, 140, 230);
  --color-blue-light: rgb(173, 216, 230);

}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlideDown {
  animation: fadeSlideDown 0.3s ease-out forwards;
}